<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Local Video Player</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Local Video Player</h1>
        <div id="video_div">
            {% if videos %}
                <select id="video_combobox">
                    {% for video in videos %}
                        <option value="{{ url_for('static', filename='videos/' + video) }}">{{ video }}</option>
                    {% endfor %}
                </select>

            {% else %}
                <p>You have to share at least one video to use Local Video Player.</p>
            {% endif %}

        </div>

        {% if videos %}
            <div class="video_container">
                <video id="video_player" width="600" controls>
                    <source id="video_path" src="{{ url_for('static', filename='videos/' + videos[0]) }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        {% endif %}
    </div>
    <footer>Local Video Player - Version: {{ version }}</footer>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
